<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>URL shortener</title>
</head>

<body>
  <div class="header">
    <h1>URL Shortener</h1>
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="200" height="200" viewBox="0 0 172 172"
      style=" fill:#000000;">
      <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
        stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
        font-size="none" text-anchor="none" style="mix-blend-mode: normal">
        <path d="M0,172v-172h172v172z" fill="none"></path>
        <g>
          <path
            d="M27.8855,144.1145c13.29417,13.29417 34.84792,13.29417 48.14208,0c6.20992,-6.20992 18.87342,-18.87342 25.08333,-25.08333c13.29417,-13.29417 13.29417,-34.84792 0,-48.14208c-13.29417,-13.29417 -34.84792,-13.29417 -48.14208,0c-6.20992,6.20992 -18.87342,18.87342 -25.08333,25.08333c-13.29058,13.29058 -13.29058,34.84792 0,48.14208zM40.55617,108.6395c3.655,-3.655 22.34925,-22.34925 25.08333,-25.08333c6.29592,-6.29592 16.50842,-6.29592 22.80433,0c6.29592,6.29592 6.29592,16.50842 0,22.80433c-2.73408,2.73408 -21.42833,21.42833 -25.08333,25.08333c-6.29592,6.29592 -16.50842,6.29592 -22.80433,0c-6.29592,-6.29592 -6.29592,-16.50842 0,-22.80433z"
            fill="#e67e22"></path>
          <path
            d="M84.59892,80.65725c0,0 -2.18225,-5.40725 2.75917,-11.21942l4.90558,-4.90917c-11.34125,-5.67242 -25.16217,-4.60458 -35.56817,3.182c-2.9455,11.12267 1.34375,23.44575 1.34375,23.44575c3.72667,-3.72667 6.708,-6.708 7.60025,-7.60025c5.16,-5.15642 12.65992,-6.10958 18.95942,-2.89892z"
            fill="#000000" opacity="0.05"></path>
          <path
            d="M81.79675,79.52492c-0.29383,-2.37933 -0.63783,-7.25267 3.66217,-11.98625c0.25083,-0.25083 3.29667,-3.36833 4.09575,-4.16742c-9.46717,-3.97392 -20.38558,-3.21067 -29.35467,2.0425c-3.04225,9.23783 -1.13592,19.78717 0,23.5855c2.66242,-2.66242 4.74433,-4.74433 5.44308,-5.44308c4.40392,-4.4075 10.51708,-5.74767 16.15367,-4.03125z"
            fill="#000000" opacity="0.07"></path>
          <path
            d="M144.1145,27.8855c-13.29417,-13.29417 -34.84792,-13.29417 -48.14208,0c-6.20992,6.20992 -18.87342,18.87342 -25.08333,25.08333c-13.29417,13.29417 -13.29417,34.84792 0,48.14208c13.29417,13.29417 34.84792,13.29417 48.14208,0c6.20992,-6.20992 18.87342,-18.87342 25.08333,-25.08333c13.29058,-13.29058 13.29058,-34.84792 0,-48.14208zM131.44383,63.3605c-3.655,3.655 -22.34925,22.34925 -25.08333,25.08333c-6.29592,6.29592 -16.50842,6.29592 -22.80433,0c-6.29592,-6.29592 -6.29592,-16.50842 0,-22.80433c2.73408,-2.73408 21.42833,-21.42833 25.08333,-25.08333c6.29592,-6.29592 16.50842,-6.29592 22.80433,0c6.29592,6.29592 6.29592,16.50842 0,22.80433z"
            fill="#1b9de2"></path>
          <path
            d="M87.38317,91.289c0,0 2.20017,5.461 -2.74125,11.27317l-4.90558,4.90917c11.34125,5.67242 25.16217,4.60458 35.56817,-3.182c2.9455,-11.12267 -1.34375,-23.44575 -1.34375,-23.44575c-3.72667,3.72667 -6.708,6.708 -7.60025,7.60025c-5.16,5.15642 -12.87133,6.13825 -18.97733,2.84517z"
            fill="#000000" opacity="0.05"></path>
          <path
            d="M90.257,92.4715c0.29383,2.37933 0.58408,7.25625 -3.71592,11.98983c-0.25083,0.25083 -3.29667,3.29667 -4.09575,4.09575c9.46717,3.97392 20.4895,3.21425 29.369,-2.25033c3.04225,-9.23783 1.12517,-19.51125 -0.01433,-23.306c-2.66242,2.66242 -4.74433,4.74433 -5.44308,5.44308c-4.40392,4.4075 -10.77867,5.69392 -16.09992,4.02767z"
            fill="#000000" opacity="0.07"></path>
          <path
            d="M88.44383,83.55617c6.29592,6.29592 6.29592,16.50842 0,22.80433c-2.73408,2.73408 -21.42833,21.42833 -25.08333,25.08333l12.67067,12.67067c6.20992,-6.20992 18.87342,-18.87342 25.08333,-25.08333c13.29417,-13.29417 13.29417,-34.84792 0,-48.14208z"
            fill="#e67e22"></path>
        </g>
      </g>
    </svg>
  </div>
  {{{body}}}
</body>

</html>