<div class='input-area'>
  <form action="/" method="POST" class="input-form">
    <input type="text" placeholder="input URL here" name="url" class="input">
    <button type="submit">Shorten</button>
  </form>
  <h4>{{errorMessage}}</h4>
</div>